.slider-content {
    height: 100%;
    padding: 10px 70px;


    .slider-header {
        display: flex;
        margin: 10px 0;

        .title-slider {
            width: 50%;
            font-size: 25px;
            font-weight: bold;
        }

        .more {
            width: 50%;

            button {
                padding: 5px;
                float: right;
                border: none;

                &:hover {
                    color: white;
                    background-color: #f7d800;
                }
            }
        }
    }

    .specialist {

        height: 200px;

        .specialist-img {
            background: url('../../../assets/specialty/co-xuong-khop.jpg');
            width: 278px;
            height: 150px;
        }
    }

    .facilities {

        height: 200px;

        .facilities-img {
            background: url('../../../assets/facilities/lo-go-viet-duc.jpg');
            width: 278px;
            height: 150px;
            border: 1px solid #ebe1e1;
        }

        .facilities-des {}
    }

    .doctor {
        width: 278px !important;
        height: 250px;
        background: white;
        padding-top: 10px;
        text-align: center;

        .doctor-img {
            background: url('../../../assets/doctor/doctor-check.jpg') center center no-repeat;
            width: 120px;
            height: 120px;
            margin: 0 auto;
            margin-bottom: 20px;
        }

    }

    .handBook {
        display: flex !important;
        margin-bottom: 20px;

        .handBook-img {
            background: url('../../../assets/handbook/img1.jpg') center center no-repeat;
            width: 50%;
            height: 200px;

        }

        .handBook-des {
            margin: 20px;
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
        }
    }

    .slick-prev {
        left: -10px !important;
        border: 1px solid green !important;
        z-index: 1000 !important;
        background-color: rgb(247, 244, 244) !important;
        color: black !important;
        height: 40px !important;
        width: 40px !important;
    }

    .slick-next {
        right: -10px !important;
        border: 1px solid green !important;
        background-color: rgb(247, 244, 244) !important;
        color: black !important;
        width: 40px !important;
        height: 40px !important;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black !important;
        font-family: 'sans-serif';
    }
}


.br {
    background: #f5f5f5;
}