.home-header-container {
    height: 90px;
    width: 100%;
    padding: 15px 20px;

    .home-header-content {
        display: flex;

        .left-content {
            width: 20%;
            display: flex;
            justify-content: center;

            .bars-icon {
                margin: auto 20px;

            }

            .logo {
                i {
                    font-size: 70px;
                }
            }
        }

        .center-content {
            width: 70%;
            display: flex;
            text-align: center;

            .child-content {
                padding: 0px 10px;
            }
        }

        .right-content {
            width: 10%;
            text-align: center;
            margin: auto;
            padding: 0 4px;
        }

        .language {
            padding: 0 4px;
        }
    }


}

.home-banner-container {
    background: url('../../assets/background.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contain-first {
        text-align: center;
        padding-top: 20px;
        min-width: 768px;

        .text1 {
            font-size: 32px;
            color: white;
            text-shadow: 1px 1px 1px #333;
        }

        .text2 {
            font-size: 32px;
            color: white;
            text-shadow: 1px 1px 1px #333;
        }

        .search {
            justify-content: center;
            background-color: #f7d800;
            width: fit-content;
            margin: 10px auto;
            padding: 15px;
            border-radius: 30px;
            border: 1px solid transparent;

            i {
                padding-right: 5px;
            }

            input {
                width: 400px;
                border: none;
                height: 20px;
                outline: none;
                background-color: #f7d800;

            }
        }
    }

    .contain-second {

        display: flex;
        justify-content: space-around;
        margin: auto 0px;

        .option {
            width: 110px;

            .icon {
                background-color: #fff;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
                padding-top: 10px;
                margin: auto;

                i {

                    font-size: 20px;
                    color: #45c3d2;
                }
            }

            .text {
                font-size: 17px;
                text-align: center;
                font-weight: bold;
            }

        }
    }
}