.home-header-container {
    height: 80px;
    width: 100%;
    padding: 0 20px;
    background: white;
    position: sticky;
    z-index: 10000;
    top: 0;

    .home-header-content {
        display: flex;


        .left-content {
            width: 20%;
            display: flex;
            justify-content: center;

            .bars-icon {
                margin: auto 20px;

            }

            .logo {
                i {
                    font-size: 70px;
                }

                .bck {
                    font-family: cursive;
                    font-size: 20px;
                    font-weight: bold;
                    font-style: italic;
                }
            }
        }

        .center-content {
            padding: 15px 20px;
            width: 60%;
            display: flex;
            text-align: center;

            .child-content {
                padding: 0px 10px;
            }
        }

        .right-content {
            width: 20%;
            text-align: center;
            margin: auto;
            padding: 0 4px;
            display: flex;
            justify-content: flex-end;

            i {
                margin: 5px 10px;
            }

            .language-vi {
                margin: 0 20px;
                opacity: 0.2;
                cursor: pointer;

                &.active {
                    span {
                        color: orange;
                    }

                    opacity: 1;
                }

                &:hover {
                    opacity: 1;
                }
            }

            .language-en {
                opacity: 0.2;
                cursor: pointer;

                &.active {
                    span {
                        color: blue
                    }

                    opacity: 1;
                }

                &:hover {
                    opacity: 1;
                }
            }


        }


    }


}

.home-banner-container {
    background: url('../../assets/background.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contain-first {
        text-align: center;
        padding-top: 20px;
        min-width: 768px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
        height: 50%;

        .text1 {
            font-size: 32px;
            color: white;
            text-shadow: 1px 1px 1px #333;
        }

        .text2 {
            font-size: 32px;
            color: white;
            text-shadow: 1px 1px 1px #333;
        }

        .search {
            justify-content: center;
            background-color: #f7d800;
            width: fit-content;
            margin: 20px auto;
            padding: 15px;
            border-radius: 30px;
            border: 1px solid transparent;

            i {
                padding-right: 5px;
            }

            input {

                width: 400px;
                border: none;
                height: 20px;
                outline: none;
                background-color: #f7d800;

            }
        }
    }

    .contain-second {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        height: 50%;


        .option {
            width: 110px;
            height: 100px;
            margin-bottom: 60px;

            .icon {
                background-color: #fff;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
                padding-top: 10px;
                margin: auto;

                i {
                    font-size: 20px;
                    color: #45c3d2;
                }
            }

            .text {
                font-size: 17px;
                text-align: center;
                font-weight: bold;
            }

        }
    }
}

.introduction-content {
    padding: 50px;

    .introduction-title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .introduction-body {
        display: flex;
        gap: 15px;

        .introduction-description {
            font-size: 25px;
            font-style: italic;
        }
    }
}

.footer-container {
    height: 100px;
    background: #c29595;
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
}